appdirs==1.4.4
asgiref==3.2.10
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
distlib==0.3.1
Django==3.1
filelock==3.0.12
idna==3.6
numpy==1.24.4
pytz==2020.1
requests==2.31.0
six==1.15.0
sqlparse==0.3.1
urllib3==2.1.0
virtualenv==20.0.31
virtualenvwrapper-win==1.2.6
